body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    color: #333;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    margin: 50px auto;
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 8px;
}

button {
    padding: 10px;
    width: 100%;
    background: #4CAF50;
    color: white;
    border: none;
}
