<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lista de Pessoas</title>
</head>
<body>

<h2>Pessoas Cadastradas</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Email</th>
        <th>Telefone</th>
    </tr>

    {% for p in pessoas %}
    <tr>
        <td>{{ p[0] }}</td>
        <td>{{ p[1] }}</td>
        <td>{{ p[2] }}</td>
        <td>{{ p[3] }}</td>
        <td>{{ p[4] }}</td>
    </tr>
    {% endfor %}

</table>

<br>
<a href="/">Voltar ao cadastro</a>

</body>
</html>
